/*CSS - Cascading Style Sheet*/
/*seletor
tag --> body
id --> #foto
classe --> .nomedaclasse 
 */
body{
    /*propiedade : valor*/
    color: #ffffff  ;
    background-color: #2d1d47;
    
}

#foto{
    height: 100px;
    border-radius: 20px;
    border-top: 3px solid white; 
    border-bottom: 3px solid white;
    /*  estilos: solid, dashed, dotted, double */
}

/* 
cores originais:
texto: #ffffff
fundo: #320679

cor dia
texto #ffffff
fundo #457704

cor tarde
texto #ffffff
fundo #3a82d4

cor noite
texto #ffffff
fundo #2d1d47


*/